/* iPad・スマホへの振り分け */

/* 表示領域が1200px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 851px) {
    #registration_pc {visibility : visible;}
    #registration_ipad {display : none;}
}	

/* 表示領域が1190px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 850px) {
    #registration_pc {display : none;}
    #registration_ipad {visibility : visible;}
}

/* 表示領域が1190px以下の場合に適用するスタイル（スマホ向け） */
/* @media screen and (max-width: 400px) {
    #registration_pc {display : none;}
    #registration_ipad {display : none;}
    #registration_sp {visibility : visible;}
} */

#registration_pc {
}

#registration_ipad {
    min-width:768px;
}

#registration_sp {
    min-width: 375px;
    overflow-x: hidden;
}

body {
    font-family: "ヒラギノ角ゴシック";
}

.body_ipad {
    width:700px;
    margin:0 50px;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

li {
    list-style: none;
}

.none {
    opacity: 0;
    z-index:-1;
}

.header_content {
    width:100%;
    text-align:center;
    margin: 0 auto;
    height:70px;
    font: normal normal normal 16px/31px Noto Sans Oriya;
    color: #262626;
    position: fixed;
    top:0px;
    z-index: 9999;
    background-color: #FFF;
    display: flex;
}

.footer_content {
    width:100%;
    text-align:center;
    margin: 0 auto;
    height:170px;
    font: normal normal normal 19px/26px Noto Sans Oriya;
    color: #262626;
    position: absolute;
    z-index: 9999;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin-top: 14px;
    margin-left: 270px;
    height: 60%;
}

.logo_footer {
    margin-top: 35px;
    margin-left: 280px;
    width: 230px;
    height: 63px;
}

.service_logo {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 230px;
    height: 63px;
}

.bg_movie {
    transform: translateZ(0);
    z-index: 0;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    background-position: left 0 top 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    transform: translateZ(0);
    width: 120%;
    will-change: transform;
    z-index: 0;
    opacity:0.8;
}


.content1_logo {
    width:100%;
    position: fixed;
    top:300px;
}

.logo_star {
    width:150px;
    z-index: 150;
    position: relative;
    margin: auto;
    display: block;
}

.logo_text {
    width:300px;
    z-index: 150;
    position: relative;
    margin: 20px auto;
    display: block;
}

#content1 {
    background-color: white;
    z-index:100;
    width: 100%;
    height:1100px;
    top:0px;
    position: fixed;
    transition: .5s;
}

#content2 {
    background: no-repeat url("../../img/bg2.png");
    z-index:200;
    width: 100%;
    height:1000px;
    top:1500px;
    position: fixed;
    transition: .5s;
}

#content3 {
    background: no-repeat url("../../img/bg3.png");
    z-index:300;
    width: 100%;
    height:1000px;
    top:0px;
    left: -2000px;
    position: fixed;
    transition: .5s;
}

#content4 {
    z-index:400;
    width: 100%;
    height:1000px;
    top:2700px;
    position: absolute;
    pointer-events: none;
}

#content5 {
    background: no-repeat url("../../img/bg5.png");
    z-index:500;
    width: 100%;
    height:1000px;
    top:0px;
    left: 2000px;
    position: fixed;
    transition: .5s;
}

#content6 {
    z-index:600;
    width: 100%;
    height:1000px;
    top:5000px;
    position: absolute;
    transition: .5s;
}

#vision1 {
    background: no-repeat url("../../img/vision_bg.jpg");
    z-index:100;
    width: 100%;
    height:1000px;
    top:0px;
    position: fixed;
    transition: .5s;
}

#vision2 {
    background: no-repeat url("../../img/vision_bg2.png");
    z-index:200;
    width: 100%;
    height:1000px;
    top:1000px;
    position: absolute;
    transition: .5s;
    color: #FFFFFF;
    text-align: center;
}

#vision3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    z-index:200;
    width: 100%;
    height:650px;
    top:2000px;
    position: absolute;
    transition: .5s;
    color: #FFFFFF;
    text-align: center;
}

#vision4 {
    background: no-repeat url("../../img/vision_bg3.png");
    z-index:200;
    width: 100%;
    height: 590px;
    top:2650px;
    position: absolute;
    transition: .5s;
    color: #FFFFFF;
    text-align: center;
}

#service1 {
    background: no-repeat url("../../img/service_bg.png");
    z-index:100;
    width: 100%;
    height:1000px;
    top:0px;
    position: fixed;
    transition: .5s;
}

#service2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    z-index:200;
    width: 100%;
    height:700px;
    top:1000px;
    position: absolute;
    transition: .5s;
    color: #6C6C6C;
    text-align: center;
}

#service3 {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    z-index:200;
    width: 100%;
    height:1310px;
    top:1700px;
    position: absolute;
    transition: .5s;
    color: #6C6C6C;
    text-align: left;
    font: normal normal normal 16px/28px Hiragino Sans;
    letter-spacing: 1.4px;
}

#news1 {
    background: no-repeat url("../../img/news_bg.png");
    z-index:100;
    width: 100%;
    height:603px;
    top:0px;
    position: absolute;
    transition: .5s;
}

#news2 {
    background: #fff 0% 0% no-repeat padding-box;
    z-index:100;
    width: 70%;
    height:auto;
    top:603px;
    margin-left: 15%;
    position: absolute;
    transition: .5s;
    display: flex;
    margin-top: 30px;
}


.content2_title, .content3_title, .content5_title, .vision1_title, .service1_title {
    width:100%;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    top:367px;
    transition: .6s;
}

.news1_title {
    width:100%;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 270px;
    transition: .6s;
}

.td3s {
    transition: .6s;
    transition-delay: .3s;
}

.td4s {
    transition: .6s;
    transition-delay: .4s;
}

.td5s {
    transition: .6s;
    transition-delay: .5s;
}

.td6s {
    transition: .6s;
    transition-delay: .6s;
}

.td7s {
    transition: .6s;
    transition-delay: .7s;
}

.td8s {
    transition: .6s;
    transition-delay: .8s;
}

.content2_title {
    z-index:150;
}

.content3_title {
    z-index:250;
}

.content5_title {
    z-index:550;
}

.content4_title, .content6_title {
    width:100%;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top:367px;
    z-index:350;
}

.content2_text {
    width:100%;
    color: #FFFFFF;
    text-align: center;
    z-index:150;
    position: fixed;
    top:594px;
    
}

.services {
    width:100%;
    text-align: center;
    z-index:250;
    position: fixed;
    top:594px;
}

.news_list {
    width:100%;
    text-align: center;
    z-index:250;
    position: fixed;
    top:504px;
    font: normal normal normal 15px/20px Hiragino Sans;
    letter-spacing: 1.26px;
    color: #FFFFFF;
}

.title_1 {
    font: normal normal bold 63px/95px Bangla MN;
    letter-spacing: 5.74px;
}

.title_2 {
    font: normal normal normal 20px/0px Hiragino Sans;
    letter-spacing: 1.75px;
}

.content2_text_1 {
    font: normal normal normal 27px/46px Hiragino Sans;
    letter-spacing: 1.89px;
}

.content2_text_2 {
    font: normal normal bold 36px/56px Bangla MN;
    letter-spacing: 3.5px;
}

.content2_text_3 {
    font: normal normal normal 20px/32px Hiragino Sans;
    letter-spacing: 1.4px;
}

.header_ul {
    width:800px;
    margin-left: auto;
    margin-right: 50px;
}

.footer_ul {
    width: 550px;
    margin: 6px 100px 0 auto;
    text-align: left;
    font-size: 16px;
}

.header_content li {
    display: inline-block;
    margin: 10px 15px 10px 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}


.footer_content li {
    width: 90px;
    display: inline-block;
    margin:24px 60px 0 0;
    text-align: left;
    vertical-align: middle;
}

.services li {
    display: inline-block;
    margin: 10px 15px 10px 0;
    text-align: center;
    vertical-align: middle;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    width: 213px;
    height: 220px;
    font: normal normal normal 13px/25px Hiragino Sans;
    letter-spacing: 0.48px;
    color: #262626;
}

.service_img {
    width: 98%;
    margin-top:2px;
    margin-bottom:13px;
}

.bg4 {
    top:-1500px;
    left:0px;
    position: fixed;
    z-index: 350;
    transition: .6s;
    pointer-events: none;

}

.bg6 {
    top:1500px;
    left:0px;
    position: fixed;
    z-index: 599;
    transition: .6s;
}

.company_detail {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    width: 810px;
    height: 590px;
    margin: 0 auto;
    position: relative;
    top:467px;
    font: normal normal normal 15px/20px Hiragino Sans;
    letter-spacing: 1.26px;
    color: #262626;
}

.contact_form {
    width: 500px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top:467px;
    font: normal normal normal 15px/20px Hiragino Sans;
    letter-spacing: 1.26px;
    color: #FFFFFF;
}

.company_column1, .company_column2 {
    width: 760px;
    display: flex;
    border-top: #9D9D9D 1px solid;
    margin: 0 auto;
    padding-top:25px;
}

.company_column1 {
    height:70px;
}

.company_column2 {
    height:149px;
}

.content4_line {
    width: 760px;
    height: 5px;
    background: #9D9D9D 0% 0% no-repeat padding-box;
    margin: 26px auto 0 auto;
}

.content5_line {
    width: 852px;
    height: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 40px auto 0 auto;
}

.content5_line2 {
    width: 852px;
    height: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 0 auto 0 auto;
}

.news_column {
    width: 852px;
    display: flex;
    height:58px;
    border-top: #FFFFFF 1px solid;
    margin: 0 auto;
    padding-top:20px;
}

.detail_title {
    width:250px;
    padding-left:40px;
}

.news_date {
    width:165px;
    padding-left:40px;
    text-align: left;
}

.mt10 {
    margin-top:10px;
}

.mt38 {
    margin-top:38px;
}

.button_red a {
    width: 300px;
    height: 46px;
    display: block;
    background: #FF0052 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #FF0052;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
}

.yazi {
    width: 12px;
    height: 14px;
    margin-left: 250px;
}

.view_all .yazi, .google_map .yazi, .more .yazi, .send .yazi {
    margin-top: -80px;
}

.view_all a {
    margin-top: 90px;
    padding-top:5px;
    font: normal normal normal 20px/34px Hiragino Sans;
    letter-spacing: 1.54px;
}

.google_map, .more, .send {
    text-align: center;
    font: normal normal normal 20px/34px Hiragino Sans;
    letter-spacing: 1.4px;
    color: #FFFFFF;
    position: relative;
}

.google_map {
    top: 520px;
}

.more {
    top: 65px;
}

.send {
    top: 15px;
}

.google_map a, .more a, .send a {
    padding-top:6px;
}

a:hover, a:link, a:visited {
    color: inherit;
}

.form_text {
    width: 100%;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 13px;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form_textarea {
    width: 100%;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    border: none;
    margin-top: 5px;
    margin-bottom: 35px;
}

.vision2_1 {
    font: normal normal normal 27px/51px Hiragino Sans;
    letter-spacing: 2.1px;
    position: relative;
    top:300px;
}

.vision2_2 {
    font: normal normal bold 35px/73px Bangla MN;
    position: relative;
    top:300px;
}

.vision2_3, .vision2_4, .vision2_5, .vision2_6 {
    font: normal normal normal 16px/34px Hiragino Sans;
    letter-spacing: 1.4px;
    position: relative;
    top:330px;
}

.vision3_1 {
    font: normal normal normal 27px/51px Hiragino Sans;
    letter-spacing: 2.1px;
    position: relative;
    color: #6C6C6C;
    top:180px;
}

.vision3_2 {
    font: normal normal bold 35px/73px Bangla MN;
    position: relative;
    color: #6C6C6C;
    top:180px;
}

.vision3_3, .vision3_4, .vision3_5, .vision3_6 {
    font: normal normal normal 16px/34px Hiragino Sans;
    letter-spacing: 1.4px;
    position: relative;
    color: #262626;
    top:210px;
}




footer a, footer a:hover, header a:hover, .button_red a:hover {
    text-decoration:none;
    transition: .5s;
}

footer a:hover, header a:hover, .button_red a:hover {
    opacity:0.5;
}

.footer_menu {
    font-size: 14px;
    margin:10px 0;
    font-weight: 300;
}

.footer_menu_sp {
    font-size: 14px;
    margin:20px 10px 0px 10px;
    width:180px;
    float:left;
    text-align: left;
}

.copyright {
    font: normal normal normal 16px/23px Noto Sans Oriya;
    letter-spacing: 0px;
    color: #262626;
    width: 100%;
}

.service_list_bar {
    margin-top: -90px;
    padding-top: 120px;
    display: block;
}

.service_list_bar li {
    font: normal normal normal 15px/18px Noto Sans Oriya;
    letter-spacing: 1.19px;
    color: #262626;
    display: table-cell;
    min-width: 50px;
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #262626;
    border-radius: 26px;
    padding: 13px 16px 8px 25px;
    display: inline-block;
    margin: 10px 5px 0 5px;
}

.service_list_bar li a{
    opacity: 1;
}

.service_list_bar li.current {
    background: #EBEBEB 0% 0% no-repeat padding-box;
}

.service_list_bar li.current a {
    opacity: 0.5;
}

.service2_content {
    margin-top: 60px;
    color: #262626;
}

.service2_content1 {
    font: normal normal normal 34px/56px Hiragino Sans;
    letter-spacing: 2.8px;
}

.service2_content2 {
    margin-top: 20px;
    font: normal normal normal 16px/25px Hiragino Sans;
    letter-spacing: 1.4px;
}

.service_div1, .service_div2, .service_img1, .service_img2 {
    width:50%;
    height:655px;
}

.service_img1 {
    margin-left: auto;
}

.system_content2, .block_content2, .it_content2, .esti_content2, .enter_content2 {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.service3_text1, .service3_text3 {
    font: normal normal normal 26px/40px Hiragino Sans;
    letter-spacing: 2.1px;
    margin-top:160px;
    width:570px;
}

.service3_text2, .service3_text4 {
    margin-top:50px;
    width:570px;
}

.service3_text1, .service3_text2 {
    margin-left:auto;
    margin-right:50px;
}
.service3_text3, .service3_text4 {
    margin-left:50px;
}

.news_list_index, .news_detail {
    width:67%;
    margin-right: 3%;
    
}

.latest_news_list {
    width:30%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    height: 100%;
}

.news_line {
    border: 5px solid #262626;
}

.news_line2 {
    border: 1px solid #EAEAEA;
    width:98%;
}

.all_news {
    text-align: left;
    font: normal normal normal 16px/21px Hiragino Sans;
    letter-spacing: 0.91px;
    margin:20px 0;
    height:42px;
}

.all_news_date {
    margin-left: 5%;
    margin-bottom:3px;
}

.all_news_title {
    width:90%;
    margin-left: 5%;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.latest_news_text {
    text-align: center;
    margin:25px auto;
}

.latest_news {
    text-align: left;
    display:flex;
    font: normal normal normal 13px/21px Hiragino Sans;
    letter-spacing: 0.91px;
    margin:20px 0;
    height:42px;
}

.latest_news_date {
    width:27%;
    margin-left: 3%;
    margin-right: 8%;
}

.latest_news_title {
    width:59%;
    margin-right: 3%;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.latest_news_line {
    margin: auto;
    width: 96%;
    border: 1px solid #9D9D9D;
}

.news_paginate {
    margin-top:20px;
}
.news_paginate ul {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.news_detail_date {
    margin-left: 3%;
    margin-bottom:5px;
    margin-top: 20px;
    font: normal normal normal 14px/28px Hiragino Sans;
}

.news_detail_title {
    margin-left: 3%;
    font: normal normal normal 20px/30px Hiragino Sans;
}

.news_detail_content {
    text-align: left;
    font: normal normal normal 16px/21px Hiragino Sans;
    letter-spacing: 0.91px;
    min-height:1000px;
    border: 1px solid #E8E8E8;
}

.news_detail_text {
    margin:30px 5% 0 5%;
}

.back_button {
    margin-top: 20px;
}

.service2_system{
    margin-top: 50px;
}

.service2_block{
    margin-top: 50px;
}
.service2_it{
    margin-top: 50px;
}

.service2_esti{
    margin-top: 50px;
}

.service2_enter{
    margin-top: 50px;
}